body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #21252b;
    color: #f4f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.noise-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/noise.png');
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
}

.inside-noise-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/noise.png');
    opacity: 0.27;
    pointer-events: none;
    z-index: 0;
}



.contact-form {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}

.contact-form h3 {
    margin-bottom: 20px;
    text-align: center;
}

.contact-form form {
    display: flex;
    width: 1000px;
    flex-direction: column;

}

.contact-form textarea {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #f4f7fa;
    background-color: rgba(255, 255, 255, 0.2);
    color: #f4f7fa;
    resize: none;
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
}

.contact-form button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f4f7fa;
    color: #21252b;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    transition: background-color 0.3s;
    align-self: center;
}

.contact-form button:hover {
    background-color: #e0e0e0;
}

footer {
    padding: 20px;
    font-size: 14px;
    color: #8D9090;
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin-top: 1300px;
}



.back-button-container {
    margin-top: 20px;
    text-align: center;
}

.back-button-container button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #FFD700;
    color: #4F4F4F;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.back-button-container button:hover {
    background-color: #FFE066;
}